extends layout

block content
  nav(class="navbar navbar-light bg-secondary")
    div(class="container")
      a(class="btn btn-light btn-sm", style="font-size: .75rem;" href=`/menu/${menuId}`) Back to Menu
  div(class="container")
    h1(class="display-4 mt-4") Create Card
    form(action=`/menu/${menuId}/card/create`, enctype="multipart/form-data", accept=".jpg, .jpeg, .png", method="post")
      div(class="row")
        div(class="col")
          h4(class="mt-4 mb-3 d-block") Items 
      div(id="createCardCarousel" class="carousel slide w-75 m-auto" data-ride="carousel" data-interval="false")
        div(class="carousel-inner d-flex align-items-center" role="listbox")
          each date, dateIndex in mealDates
            div(class=`day carousel-item ${dateIndex === currDate ? "active" : ""}`)
              h1(class="text-center")= dateIndex
              div(class="d-flex justify-content-center flex-wrap mealContainer")
                each meal, mealIndex in date
                  if meal.length !== 0
                    div(class="meal card m-2")
                      div(class="card-body")
                        h4(class="text-center")=mealIndex
                        each item in meal
                          div(class="form-check p-0")
                            input(type="checkbox", class="form-contorl", id=item.nid, name="selectedItem", value=`{"title":"${item.title}", "date":"${dateIndex}", "nid":"${item.nid}"}`)
                            label(for=item.nid, class="col-form-label ml-2") #{item.title}
        a(class="carousel-control-prev" href="#createCardCarousel" role="button" data-slide="prev")
          span(class="carousel-control-prev-icon" aria-hidden="true")
          span(class="sr-only") Previous
        a(class="carousel-control-next" href="#createCardCarousel" role="button" data-slide="next")
          span(class="carousel-control-next-icon" aria-hidden="true")
          span(class="sr-only") Next
      div(class="row")
        div(class="col")
          h4(class="mt-4 mb-3") Background Image
          input(type="file", name="backgroundImage", required)
      div(class="row")
        div(class="col")
          h4(class="mt-4 mb-3") Title
          input(type="text", id="title", name="cardTitle", required)
      div(class="row")
        div(class="col-12")
          h4(class="mt-4 mb-3") Custom Text
          textarea(name="customText", class="w-100 p-2", rows="10")
      div(class="row mt-4")
        div(class="col text-center")
          input(type="submit", class="btn btn-primary mb-5", value="Create")

//-           <nav aria-label="Page navigation example">
//-   <ul class="pagination justify-content-center">
//-     <li class="page-item disabled">
//-       <a class="page-link" href="#" tabindex="-1">Previous</a>
//-     </li>
//-     <li class="page-item"><a class="page-link" href="#">1</a></li>
//-     <li class="page-item"><a class="page-link" href="#">2</a></li>
//-     <li class="page-item"><a class="page-link" href="#">3</a></li>
//-     <li class="page-item">
//-       <a class="page-link" href="#">Next</a>
//-     </li>
//-   </ul>
//- </nav>