extends layout

block content
  nav(class="navbar navbar-light bg-secondary")
    div(class="container")
      a(class="btn btn-light btn-sm", style="font-size: .75rem;" href=`/menu/${card.menu}`) Back to Menu
  div(class="container")
    h1(class="display-4 mt-4") Edit Card
    form(action=`/card/${card._id}/edit`, enctype="multipart/form-data", method="post")
      div(class="row")
        div(class="col")
          h4(class="mt-4 mb-3 d-block") Items 
      div(class="row") 
        each lunch in lunches
          if lunch.checked == 'true'
            div(class="form-check col-sm-12 col-md-6 col-lg-4 align-items-center d-flex")
              input(type="checkbox", class="form-contorl", id= lunch._id, name="selectedItem", value=lunch, checked)
              label(for=lunch._id, class="col-form-label ml-2") #{lunch.title}
          else
            div(class="form-check col-sm-12 col-md-6 col-lg-4 align-items-center d-flex")
              input(type="checkbox", class="form-contorl", id= lunch._id, name="selectedItem", value=lunch)
              label(for=lunch._id, class="col-form-label ml-2") #{lunch.title}
      div(class="row mt-4 flex-column")
        div(class="col-12")
          h4(class="mb-3") Background Image
          input(type="file", accept=".jpg, .jpeg, .png", name="backgroundImage")
        div(class="col-sm-12 col-md-8 col-lg-3")
          figure(class="figure mt-3")
            img(src=`data:${contentType};base64, ${bgImage}`, alt="", class="w-100 img-thumbnail")
            figcaption(class="figure-caption text-center") Current Background Image
      div(class="row")
        div(class="col")
          h4(class="mt-4 mb-3") Title
          input(type="text", id="title", name="cardTitle", value=card.title)
      div(class="row mt-4")
        div(class="col text-center")
          input(type="submit", class="btn btn-primary mb-5", value="Edit")
