extends layout

block content
  div(class="container")
    h1= menu.title
    ul(class="nav nav-tabs" id="myTab" role="tablist")
      each card, index in cards
        if index === 0
          li(class="nav-item")
            a(class="nav-link active", data-toggle="tab", href=`#${card._id}`, role="tab", aria-controls=card._id, aria-selected="true") #{card.title}
        else
          li(class="nav-item")
            a(class="nav-link", data-toggle="tab", href=`#${card._id}`, role="tab", aria-controls=card._id, aria-selected="false") #{card.title}

      li(class="nav-item")
        a(class="btn btn-primary border-primary mt-1 p-1 pl-2 pr-2", href=`/menu/${menu._id}/card/create`) 
          i(class="fa fa-plus-square mr-1") 
          | Create Card

    div(class="tab-content" id="myTabContent")
      each card, index in cards
          if index === 0
            div(class="tab-pane fade show active", id=card._id, role="tabpanel", aria-labelledby=`${card._id}-tab`) 
              h2=card.title
          else
            div(class="tab-pane fade", id=card._id, role="tabpanel", aria-labelledby=`${card._id}-tab`) 
              h2=card.title